* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --dark-purple: #1d2366;
  --light-green: #1eeb64;
  --light-purple: #6f6eae;
  --font-light: #4d4d4d;
  --font-dark: #000000;
}
body {
  font-family: "Poppins", "sans-serif";
}

.nav {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  padding: 5px 30px;
  font-size: 19px;
}

.nav > li {
  margin-left: 50px;
}

.nav > li > a {
  text-decoration: none;
  color: #000000;
}

.header {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-weight: 600;
}

/* Logo styles */
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo_image {
  display: block;
  width: 350px;
  height: 76px;
  background-image: url(./images/logo.svg);
}
.logo_text {
  font-size: 25px;
  font-family: "Montserrat", "sans-serif";
  color: #000000;
}

/* Button Styles */
.nav_btn {
  background-color: #6f6eae;
  border-radius: 28.5px;
  padding: 12px 25px;
  border: none;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* Hero Section */
.wrap {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 85px;
  padding-right: 85px;
  justify-content: space-between;
}

button.btn {
  padding: 12px 25px;
  border: none;
  color: #ffffff;
  border-radius: 28.5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  margin-top: 20px;
}
button.btn.green-btn {
  background-color: var(--light-green);
}
button.btn.purple-btn {
  background-color: var(--light-purple);
}
button.green-btn:hover {
  background-color: white;
  color: black;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
button.purple-btn:hover {
  background-color: white;
  color: black;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.nav_btn:hover {
  background-color: white;
  color: black;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* Texts in the hero section */
.main-title {
  font-size: 60px;
  font-family: "Oxygen", "sans-serif";
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light-green);
  margin-top: -50px;
}
.sub-title {
  font-size: 40px;
  font-family: "Oxygen", "sans-serif";
  font-weight: normal;
  color: var(--light-purple);
  margin-top: -50px;
}
.para {
  font-size: 15px;
  font-family: "Poppins", "sans-serif";
  color: #767676;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
}
.image-section {
  padding-right: 90px;
}
.image-section img {
  width: 900px;
  max-width: 100%;
  height: auto;
}
.hero-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
}

/* social media icons */
.si {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.social-icons {
  margin-top: 10px;
}

.animation {
  position: absolute;
  z-index: -1;
  top: 55px;
  left: 500px;
  opacity: 0.4;
}

.card {
  position: relative;
  width: 230px;
  height: 269px;
  border-radius: 17px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.imgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 2;
  background: #000000;
  border-radius: 17px;
}
.imgbox img {
  transition: 0.5s;
}

.card:hover .imgbox img {
  opacity: 0.5;
}

.social-icons-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  margin: 0;
  padding: 0;
}

.social-icons-2 li {
  list-style: none;
}

.social-icons-2 li a {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #ffffff;
  color: #262626;
  margin: 0 5px;
  border-radius: 50%;
  transition: 0.5s;
  transform: translateY(100px);
  opacity: 0;
}

.card:hover .social-icons-2 li a {
  transform: translateY(0px);
  opacity: 1;
}
.card:hover .social-icons-2 li a .fa {
  transition: 0.5s;
  font-size: 18px;
  line-height: 30px;
}
.card:hover .social-icons-2 li a:hover .fa {
  transform: rotateY(360deg);
}
.card:hover .social-icons-2 li:nth-child(1) a {
  transition-delay: 0s;
}
.card:hover .social-icons-2 li:nth-child(2) a {
  transition-delay: 0.2s;
}
.card:hover .social-icons-2 li:nth-child(3) a {
  transition-delay: 0.4s;
}
.card:hover .social-icons-2 li:nth-child(4) a {
  transition-delay: 0.6s;
}

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffffff;
  z-index: 4;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

.details h2 {
  margin: 5px 0 0;
  padding: 5px;
  text-align: center;
  padding: 0;
  font-size: 20px;
  font-family: "Montserrat", "sans-serif";
}

.details h2 span {
  font-size: 15px;
  color: #bbb;
  font-family: "Montserrat", "sans-serif";
}

.wrap-speakers {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 85px;
  padding-right: 85px;
  justify-content: space-between;
  margin-bottom: 100px;
  display: flex;
}

.speakers-title {
  margin-top: -10px;
}
.speakers-title h1 {
  text-align: center;
  font-size: 28px;
}
.title-section {
  padding-bottom: 10px;
  text-align: center;
}
.the-title {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
}
.title-description {
  font-size: 16px;
  padding-top: 10px;
  color: #666;
  max-width: 60%;
  display: block;
  margin: 0 auto;
  line-height: 1.7;
}

.why-image-container {
  padding-left: 90px;
  padding-right: 90px;
}
.why-image-container img {
  width: 500px;
  max-width: 100%;
}
.card-container {
  margin: 0 20px;
  height: 150px;
  width: 240px;
  background-color: #379bf8;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.why-row {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
}

.card-image-container {
  display: flex;
  justify-content: center;
}
.card-image-container img {
  height: 40px;
  width: 40px;
}

.card-text {
  padding-top: 15px;
  justify-content: center;
  margin: 0 12px;
  color: #ffffff;
}

.card-text p {
  text-align: center;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: 0.8;
}

.cards-row-1 {
  display: flex;
  flex-direction: row;
}
.cards-row-2 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.cards-row-3 {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.cards-box {
  display: flex;
  flex-direction: column;
}
